body {
    padding-top:120px
}

.textarea-container {
    position: relative;
}
.textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.textarea-container button.copy {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.textarea-container button.delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.delete {
    color: #919191;
    border: none;
    background-color: #ffffff;
}

.delete:hover {
    color: #393939;
}

.copy {
    border: #ffffff;
    background-color: #ffffff;
    color: #919191;
}

.copy:hover {
    color: #393939;
}

#checkIcon{
    color: rgba(23, 181, 2, 0.673);
}

.bs-docs-section {
    padding: 20px 5px;
}

#footer {
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: left;
    box-sizing: border-box;
}
[data-bs-theme=dark] #footer {
    background-color: #31353a;
}

[data-bs-theme=light] #footer {
    background-color: #f8f9fa;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1; /* Flexibility of each column */
    min-width: 200px; /* Minimum width of each column */
    margin: 20px 0; /* Margin around each column */
    padding: 0 20px; /* Padding within each column */
}

.footer-column h3 {
    margin-bottom: 15px; /* Margin below column headers */
    font-size: 18px; /* Font size for headers */
}

.footer-column p,
.footer-column ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    list-style: none; /* Remove bullet points for lists */
    line-height: 1.6; /* Line height for readability */
}

.footer-column ul li {
    margin-bottom: 10px; /* Margin below each list item */
}

.footer-column ul li a {
    color: #ffffff; /* Link color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Transition for hover effect */
}

.footer-column ul li a:hover {
    color: #1261f3; /* Hover color for links */
}

.footer-column .social-icons {
    display: flex; /* Use flexbox for social icons */
    gap: 15px; /* Space between icons */
}

.footer-column .social-icon {
    color: #ffffff; /* Social icon color */
    text-decoration: none; /* Remove underline from icons */
    background-color: #12a1f3; /* Background color for icons */
    padding: 10px; /* Padding around icons */
    border-radius: 50%; /* Rounded icons */
    font-size: 14px; /* Font size for icons */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.footer-column .social-icon:hover {
    background-color: #2270e6; /* Hover background color */
}

[data-bs-theme="light"] .card {
    background-color: #f8f9fa;
}

[data-bs-theme="light"] .card li {
    background-color: #f8f9fa;
    color: #62686c;
}
